.btn {
    display: inline-block;
    min-width: 50px;
    padding: 15px 30px;
    font-size: 18px;
    line-height: 20px;
    background-color: #EA1E63;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 2px #0001;
    text-decoration: none;
    cursor: pointer;
}
    .btn:hover {
        box-shadow: 0 1px 4px #0009;
    }
    .btn.btn-blue {
        background-color: #36f;
        float: right;
        /* margin-bottom: 25px; */
        
    }
    .btn.btn-round {
        float: right;
        border-radius: 10px;
    }
    .btn.btn-round.fa {
        padding: 15px;
        margin-top: -25px;
        border-radius: 25px;

    }