/* .hero > .container > form {
    display: inline-block;
    width: 100%;
}
    .hero > .container > form > input {
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
        border: none;
        border-bottom: 1px solid #CCC;
        font-size: 20px;
        line-height: 40px;
        color: var(--light-color);
        background-color: transparent;
        outline: none;
    } */

    form {
        display: inline-block;
        width: 100%;
    }
        form > input,
        form > textarea {
            display: inline-block;
            background-color: transparent;
            width: 100%;
            margin-bottom: 20px;
            font-size: 18px;
            line-height: 25px;
            border: none;
            border-bottom: 1px solid #ccc;
            resize: vertical;
        }
        form > textarea {
            min-height: 100px;
            max-height: 350px;
        }
        .two-in-row {
            width: 45%;
            float: left;
        }
        .two-in-row:last-of-type {
            margin-left: 10%;
        }