.hero > .mouse {
    display: inline-block;
    width: 50px;
    height: 90px;
    margin-top: 40px;
    border: 8px solid #FFF;
    border-radius: 25px;
}
    .mouse > .wheel {
        display: inline-block;
        width: 10px;
        height: 20px;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 5px;
        margin-top: 10px;
        animation-name: scrolling;
        /* animation-duration: 2s; */
        /* animation-iteration-count: infinite; */
        box-shadow: 0 0 0 #FFF;
        animation-timing-function: cubic-bezier(0, 1.07, 0.45, 0.14);
        background-position: center;
        background-size: contain;
    }
        /* .mouse > .scroll:hover {
            animation-play-state: paused;
        } */